



<table style="width:100%">
    <tr><td style="width:100%;"><center><h2><u>COMPREHENSIVE PAIN CENTER</u></h2></center></td></tr>
    <tr>
        <td style="width:100%;">
            <br />
            <table style="width:100%;font-size:12px">
                <tr>
                    <td style="width:60%">ADDRESS:</td>
                    <td style="width:40%;text-align:right">PRE-CERT & BILLING INQUIRIES:</td>
                </tr>
                <tr>
                    <td style="width:60%">P.O. Box 10706</td>
                    <td style="width:40%;text-align:right">PH: (732) 248-7700</td>
                </tr>
                <tr>
                    <td style="width:60%">NEW BRUNSWICK, NJ 08906</td>
                    <td style="width:40%;text-align:right">Fax. (732) 791-1477</td>
                </tr>
            </table>
        </td>
    </tr>
    <tr><td style="width:100%;"><br /><center><b><u>EMG CONSULT NOTE</u></b></center></td></tr>

</table>
<br />
<br />
<table style="width:100%">
    <tr>
        <td style="width:50%"><b>PATIENT NAME:</b></td>
        <td>#patientname</td>
    </tr>
    <tr>
        <td><b>DATE OF ACCIDENT:</b></td>
        <td>#doi</td>
    </tr>
    <tr>
        <td><b>DATE OF VISIT:</b></td>
        <td>#dos</td>
    </tr>
    <tr>
        <td><b>PROVIDER</b></td>
        <td>#provider</td>
    </tr>
    <tr>
        <td><b>REFERING PHYSICIAN:</b></td>
        <td>#drName</td>
    </tr>
    <tr>
        <td valign="top"><b>SERVICE LOCATION:</b></td>
        <td>#location</td>
    </tr>
</table>

<br />
<b><u>HISTORY OF INJURY:</u></b>
<br />
#history
<br />
<br />
#pastmedicalhistory
#pastsurgicalhistory
#allergies
#pastmedications
#socialhistory
#workinghistory

<b><u>CHIEF COMPLAINT</u>:</b>
<br />


    #neck
    #midback
    #lowback
    #shoulder
    #knee
    #elbow
    #wrist
    #hip
    #ankle
    #otherCC
    #complain
#general_cc
<br />
<br />
<!--#work_status-->
<b><u>PHYSICAL EXAMINATION:</u></b>
<br />
#general_pe

<br />
<br />

<b><u>CERVICAL SPINE</u></b>
<br />
<b>RANGE OF MOTION OF THE CERVICAL SPINE:</b> #ROMNeck
<br />
<br />
<b>MUSCLE STRENGTH TESTING: </b> #MSTNeck
<br />
<br />
<b>PINWHEEL TESTING: </b> #PTNeck
<br />
<br />
<b>REFLEXES: </b> #ReflexesNeck
<br />
<br />
<b>ORTHOPEDIC TESTING:</b> #OTNeck
<br />
<br />


#PEMidback


<b><u>LUMBAR SPINE</u></b>
<br />
<b>RANGE OF MOTION OF THE LUMBAR SPINE: </b> #ROMLowback
<br />
<br />
<b>MUSCLE STRENGTH TESTING: </b> #MSTLowback
<br />
<br />
<b>PINWHEEL TESTING: </b> #PTLowback
<br />
<br />
<b>REFLEXES: </b> #ReflexesLowback
<br />
<br />
<b>ORTHOPEDIC TESTING:</b> #OTLowback
<br />
<br />


#PEShoudler
#PEKnee
#PEElbow
#PEWrist
#PEHip
#PEAnkle
#otherPE

#diagnostic



<b><u>DIAGNOSES</u>: </b>#diagnoses
<b><u>RECOMMENDATIONS</u>: </b>
#plan




